<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>3F448481-D855-4BED-9EAD-2AE58E15CF1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1718D4B-3917-462A-A9C1-FDB947D400A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72A967C4-C688-47DF-AFA3-55F458000769</key>
		<array/>
		<key>74DDB74A-C5BC-4CF1-9BD8-55D9A0882115</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>925CB20D-473F-48B5-8495-5E28B323DD02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>977BEBAE-A854-4A11-9136-2D687C4DC3E3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Output to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F448481-D855-4BED-9EAD-2AE58E15CF1F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Output to Large Type</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>600A83B5-0ABE-411A-BA49-DDC50B23B9F7</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Run in terminal</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72A967C4-C688-47DF-AFA3-55F458000769</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Remove script</string>
			</dict>
		</array>
		<key>925CB20D-473F-48B5-8495-5E28B323DD02</key>
		<array/>
		<key>977BEBAE-A854-4A11-9136-2D687C4DC3E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB19931D-4D08-4A98-8846-CF4C5FAE1884</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CADB9680-30D3-43C0-B6A0-5D02BEE7599E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52FE3173-0627-4E34-9F8A-0342823A5792</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Piotr Wilczyński</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ScriptRunner</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from scriptsrunner import add
add("""{query}""")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52FE3173-0627-4E34-9F8A-0342823A5792</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>F1718D4B-3917-462A-A9C1-FDB947D400A9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import subprocess as s
print s.check_output("""{query}""", shell=True)
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>925CB20D-473F-48B5-8495-5E28B323DD02</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from scriptsrunner import remove
q = """{query}"""
q = ' '.join(q.split(' ')[1:]).strip()
remove(q)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72A967C4-C688-47DF-AFA3-55F458000769</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import subprocess as s
print s.check_output("""{query}""", shell=True)
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>977BEBAE-A854-4A11-9136-2D687C4DC3E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>./</string>
				<key>runningsubtext</key>
				<string>Loading scripts</string>
				<key>script</key>
				<string>import scriptsrunner
print scriptsrunner.xml("""{query}""")</string>
				<key>subtext</key>
				<string>No scripts</string>
				<key>title</key>
				<string>ScriptsRunner</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>74DDB74A-C5BC-4CF1-9BD8-55D9A0882115</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.apple.applescript.text</string>
					<string>public.perl-script</string>
					<string>public.python-script</string>
					<string>public.ruby-script</string>
				</array>
				<key>name</key>
				<string>add script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>CADB9680-30D3-43C0-B6A0-5D02BEE7599E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>600A83B5-0ABE-411A-BA49-DDC50B23B9F7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FB19931D-4D08-4A98-8846-CF4C5FAE1884</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import subprocess as s
print s.check_output("""{query}""", shell=True)
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F448481-D855-4BED-9EAD-2AE58E15CF1F</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3F448481-D855-4BED-9EAD-2AE58E15CF1F</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>52FE3173-0627-4E34-9F8A-0342823A5792</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>600A83B5-0ABE-411A-BA49-DDC50B23B9F7</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>72A967C4-C688-47DF-AFA3-55F458000769</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>74DDB74A-C5BC-4CF1-9BD8-55D9A0882115</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>925CB20D-473F-48B5-8495-5E28B323DD02</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>977BEBAE-A854-4A11-9136-2D687C4DC3E3</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>CADB9680-30D3-43C0-B6A0-5D02BEE7599E</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>F1718D4B-3917-462A-A9C1-FDB947D400A9</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>FB19931D-4D08-4A98-8846-CF4C5FAE1884</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
